body {
  background: grey;
  background-repeat: no-repeat;
  background-position: top center;
}
#main-map {
  height: 500px;
  width: 100% ;
  position: relative;
}

h1,h2 {
  font-family: 'Cinzel', serif;
  text-align: relative;
  color: white;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;}

#guess-pannel{
  position: relative;
  bottom: 0;
  left: 0;
  width:100%;
  font-size: 2em;
  list-style-type: none;
  text-align: center;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#name {
  font-size: 6em;
}
button:hover {
  cursor: pointer;
  -moz-transform: scale(2.1);
  -webkit-transform: scale(2.1);
  transform: scale(2.1);
}
